# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore environment variables file (secrets)
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db
